body, h1, h2, h3, p, form, table, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Codec', 'Arial Narrow Bold', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 80%;
    margin: 5%;
    max-width: 1200px;
    /* margin: 0 auto; */
    padding: 40px;
    /* /* margin-top: 10%; */
    background: #ee6e1f;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
}
.titulo-pagina, .titulo-secao {
    color: #fff;
    margin-bottom: 20px;
}

.titulo-pagina {
    font-size: 2em;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}
.formulario {
    margin-bottom: 20px;
}
.formulario label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #fff;
}
.formulario input[type="text"],
.formulario input[type="file"],
.formulario select,
.formulario textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.formulario textarea {
    resize: vertical;
}
.formulario .botao-enviar {
    background-color: #d45d00;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
.formulario .botao-enviar:hover {
    background-color: #b43e00;
}
.tabela-dados {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabela-dados th{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: #fff;
}
.tabela-dados td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: orangered;
}
.tabela-dados th {
    background-color: #d45d00;
}

.tabela-dados tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela-dados tr:nth-child(odd) {
    background-color: #fff;
}
.imagem-comunidade {
    border-radius: 4px;
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-top: 10px;
}
.link-acao {
    color: #d45d00;
    text-decoration: none;
}

.link-acao:hover {
    text-decoration: underline;
}