@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#logo {
    display: flex;
    color: #FFF;
    font-weight: bold;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

svg {
	width: 5rem;
    margin-right: 7px;
    height: auto;

}

body {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100vw;
}

nav {
	color: white;
	font-weight: 800;
	background: #FF914D;
	display: flex;
	transition: background-color 0.2s;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
	transition: all 0.2s;
}
nav a:hover {
	border: 2px solid #ff620084;
	padding: 5px;
	border-radius: 50px;
	background-color: wheat;
	color: black;
}
.usuario{
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
	font-weight: 300;
	margin-right: 15px;
	
  }
.search-btn {
	color: #3742fa;
    padding: 10px;
	border-radius: 100%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	line-height: 40px;
	width: 0px;
	border-bottom: 1px solid white; 
}
.search-txt::placeholder {
	color: white; 
  }
.profile {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	border: solid white 3px;
	align-self: center;
	background-image: url(/img/profile-round-1342-svgrepo-com.svg);
	background-color: #bababa;
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center;
 } 
main, aside {
	/* background: #FF7621; */
	background: gray;
	display: flex;
	min-height: 900px;
}
header {
	background: #FF7621;
	display: flex;
	height: 90px;
	flex: 1 1 100vw;
	justify-content: space-between;
	font-weight: 800;
	padding-inline: 20px;
}


header #logo {
	display: flex;
	flex: 0 1 200px;
	background: #FF7621;
	justify-content: center;
	align-items: center;
	font-weight: 800; 
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 40px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
	color: white;
}
#closeMenu {
	height: 110px;
}
nav {
	justify-content: center;
	align-items: center;
	flex: 1 1 100%;
	height: 80px;
}
nav a {
	margin: 0 3%;
	font-size: 18pt;
}
main {
	flex: 20 1 500px;
}
aside {
	flex: 1 1 200px;
}
footer {
	background-image: linear-gradient(#FF914D, #FF7621);
    height: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    bottom: 0px
}
#textobaixo {
    font-family: Kaniti,'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFF; 
    margin-left: 30px;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px;
 }
a {
	text-decoration: none;
	color: inherit;
	font-family: Kanit,'Arial Narrow Bold', sans-serif;
	font-weight: 500;
	line-height: 100%;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}
    @media only screen and (max-width: 717px) {
		.search-box,.search-txt,.search-btn,.fasfa-search {
			display: none;
		}}
	@media (max-width:992px){
			.usuario{
			  display: none;
		}
		}
	#openMenu {
		margin-left: auto;
	}

	.profile {

		display: none;
	}
	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}
	nav {
		position: fixed;
		top: 11.2%;
		width: 100vw;
		height: 100vh;
		background:#FF914D;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}
	nav a {
		margin: 3%;
	}
	aside {
		height: 100px;
	}
}